@import 'colors.css';

html,
body {
	margin: auto;
	padding: 0px;
	max-width: 80ch;
    color: var(--text-color);
	word-wrap: break-word;
	overflow-wrap:break-word;
    font-family: monospace;
    font-size: large;
    line-height: 1.6;
	letter-spacing: 0.5px;

    background-color: var(--behind-color);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' viewBox='0 0 192 192'%3E%3Cpath fill='%23817288' fill-opacity='0.3' d='M192 15v2a11 11 0 0 0-11 11c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H145v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11 13 13 0 1 1 .02 26 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43a6.1 6.1 0 0 0-3.03 4.87V143h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 181 164a11 11 0 0 0 11 11v2a13 13 0 0 1-13-13 12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84a6.1 6.1 0 0 0-4.87-3.03H145v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 124 181a11 11 0 0 0-11 11h-2a13 13 0 0 1 13-13c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43a6.1 6.1 0 0 0 3.03-4.87V145h-35.02a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 107 124a11 11 0 0 0-22 0c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H49v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11A13 13 0 0 1 81 192h-2a11 11 0 0 0-11-11c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V145H11.98a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 0 1 0 177v-2a11 11 0 0 0 11-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H47v-35.02a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 28 109a13 13 0 1 1 0-26c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43A6.1 6.1 0 0 0 47 84.02V49H11.98a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 11 28 11 11 0 0 0 0 17v-2a13 13 0 0 1 13 13c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84A6.1 6.1 0 0 0 11.98 47H47V11.98a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 68 11 11 11 0 0 0 79 0h2a13 13 0 0 1-13 13 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43A6.1 6.1 0 0 0 49 11.98V47h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 85 68a11 11 0 0 0 22 0c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H143V11.98a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 124 13a13 13 0 0 1-13-13h2a11 11 0 0 0 11 11c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V47h35.02a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 179 28a13 13 0 0 1 13-13zM84.02 143a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 83 124a13 13 0 1 1 26 0c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84a6.1 6.1 0 0 0 4.87 3.03H143v-35.02a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 164 107a11 11 0 0 0 0-22c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V49h-35.02a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 1 1 83 68a12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84A6.1 6.1 0 0 0 84.02 49H49v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 28 85a11 11 0 0 0 0 22c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V143h35.02z'%3E%3C/path%3E%3C/svg%3E");
}

html {
    scrollbar-color: var(--main-color) var(--background-color);
}

header,
main {
    background-color: var(--background-color);
    padding: 25px;
    margin-bottom: 1.5em;
}

header {
    margin: 15px 0 15px 0;
    text-align: center;
}

h2,h3 {
    opacity: 0.7;
    text-align: center;
}

p {
    margin-top: 6px;
    margin-bottom: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
    font-size: 1em;
    width: 100%;
}

input[type="submit"] {
    background-color: var(--behind-color);
    color: var(--background-color);
    font-weight: bold;
    cursor: pointer;
    border: none;
    max-width: fit-content;
    padding: 10px 25px;
    display: block;
    margin: 0 auto;
}

input.delete {
    display: inline;
    padding: 5px 10px;
    font-size: small;
}

nav a {
	margin: 50px 0;
}

nav a:not(:last-child) {
	padding: 0 50px 0 0;
}

.nav-link {
    text-decoration: none;
    color: var(--text-color);
}

.nav-link:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

a {
    color: var(--text-color);
    text-decoration-thickness: 0.3ex;
	text-underline-offset: 0.3ex;
	text-decoration-color: var(--main-color);
}
a:hover {
    color: var(--main-color);
	text-decoration-color: var(--main-color);
}

.tags {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
    flex-wrap: wrap;
    gap: 10px;
    margin-top: -15px;
    justify-content: center;
}

.tags-posts {
    opacity: 0.7;
    font-size: medium;
    justify-content: left;
}

.tags li {
    border-radius: 5px;
    transition: background-color 0.3s;
}

.tags a {
    text-decoration: underline;
    padding: 10px 15px 0px 0px;
    display: block;
}

.tags li:hover {
    text-decoration: underline;
    text-decoration-color: var(--main-color);
    cursor: pointer;
}


pre {
    background-color: var(--text-color);
    color: var(--background-color);
    border-radius: 4px;
    padding: 10px;
    overflow: auto;
    white-space: pre-wrap;
}

code {
    font-family: monospace;
    background-color: var(--text-color);
    color: var(--background-color);
    padding: -1px 2px;
}

header,
main {
    background-color: var(--background-color);
    padding: 25px;
    margin-bottom: 1.5em;
}

header {
    margin: 15px 0 15px 0;
    text-align: center;
}

h2,h3 {
    opacity: 0.7;
    text-align: center;
}

p {
    margin-top: 6px;
    margin-bottom: 1.5em;
}

nav {
    position: sticky;
    top: 0;
    text-align: center;
    background: var(--background-color);
    padding: 15px 0;
    border-bottom: 4px dashed var(--main-color);
    z-index: 1000;
}

nav a {
	margin: 50px 0;
}

nav a:not(:last-child) {
	padding: 0 50px 0 0;
}

.nav-link {
    text-decoration: none;
    color: var(--text-color);
}

.nav-link:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

.tags {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
    flex-wrap: wrap;
    gap: 10px;
    margin-top: -15px;
    justify-content: center;
}

.tags-posts {
    opacity: 0.7;
    font-size: medium;
    justify-content: left;
}

.tags li {
    border-radius: 5px;
    transition: background-color 0.3s;
}

.tags a {
    text-decoration: underline;
    padding: 10px 15px 0px 0px;
    display: block;
}

.tags li:hover {
    text-decoration: underline;
    text-decoration-color: var(--main-color);
}

pre {
    background-color: var(--text-color);
    color: var(--background-color);
    border-radius: 4px;
    padding: 10px;
    overflow: auto;
    white-space: pre-wrap;
}

code {
    font-family: monospace;
    background-color: var(--text-color);
    color: var(--background-color);
    padding: -1px 2px;
}

.title-date-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: -30px;
}

.title-list {
    display: block;
    opacity: 1;
    text-align: left;
}

.date em{
    opacity: 0.7;
    font-style: italic;
    color: var(--text-color);
    margin-left: 10px;
    margin: 0px;
}

.close {
    margin-bottom: 0;
}

#bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: -80px;
}

h3 .bottomRandom {
    position: relative;
    top: 25px;
}
::selection {
    background: var(--main-color);
  }

.post-content img {
  max-width: 100%;
  height: auto;
  border-radius: 8px; /* Optional: rounded corners */
}

/* Or set a specific max width */
.post-content img {
  max-width: 600px;
  height: auto;
  display: block;
  margin: 20px auto; /* Center the image */
}


/* Game */
canvas {
        border: 1px solid var(--main-color);
        background-color: pink/*(--backgroundcolour-color);*/
    }

.game {
    display: flex;
    align-items: center;
    justify-content: center;
}

#bird {
    display: none;
}